.container {
    border: 5px solid black;
    border-radius: 10px;
    width: 50%;

    .container-heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 2em;
        border-bottom: 5px solid black;
    }

    .container-content {
        padding: 1em;
        max-height: calc(100vh - 200px);
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}